<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.travel.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="org.example.travel.model.entity.ChatMessage">
            <id property="id" column="id" />
            <result property="conversationId" column="conversation_id" />
            <result property="role" column="role" />
            <result property="content" column="content" />
            <result property="msgType" column="msg_type" />
            <result property="toolCall" column="tool_call" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,role,content,msg_type,tool_call,
        created_at
    </sql>
</mapper>
