<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.travel.mapper.IchMediaMapper">

    <resultMap id="BaseResultMap" type="org.example.travel.model.entity.IchMedia">
            <id property="id" column="id" />
            <result property="projectId" column="project_id" />
            <result property="mediaType" column="media_type" />
            <result property="mediaUrl" column="media_url" />
            <result property="source" column="source" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,media_type,media_url,source,created_at
    </sql>
</mapper>
